
@import url('https://fonts.googleapis.com/css2?family=Comfortaa&family=Rock+Salt&family=Sawarabi+Gothic&family=Tilt+Prism&display=swap');

:root {
  --heading-font-family: "Orbitron", sans-serif;
  
  --basic-font-family: 'Comfortaa', cursive;
  
/* green to button [","2B5B4B","","","688BCA"*/
  
  /* Light Theme */
  --color-section: #F3F4F6;
  --color-background: #FFFEFE;
  --color-text: #4C506C;
  --color-heading: #2B5FF1;
  --color-white: #010100;
  --color-detailing: #3B83F7;
  --color-profit: #7ED691;
  --color-loss: #DA3B25;
  --colour-button:#D0D4DA;

  /* vibrant changed to button */
  
}
:root.light {
  --color-section: #F3F4F6;
  --color-background: #FFFEFE;
  --color-text: #4C506C;
  --color-heading: #2B5FF1;
  --color-white: #010100;
  --color-detailing: #3B83F7;
  --color-profit: #7ED691;
  --color-loss: #DA3B25;
  --colour-button:#D0D4DA;
}

/* Dark Theme */
:root.dark {
  --color-section: #272726;
  --color-background: #1F1E1F;
  --color-text: #E5E7EB;
  --color-heading: #1D65F2;
  --color-white: #ffffff;
  --color-detailing: #688BCA;
  --color-profit: #298969;
  --color-loss: #902424;
  --colour-button:#353535;
}
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    scroll-behavior: smooth;
  }
  
  a {
    color: unset;
    text-decoration: none;
  }
  
  .slide-bottom {
    -webkit-animation: slide-bottom 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
      animation: slide-bottom 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
  }
  
  @-webkit-keyframes slide-bottom {
    0% {
      -webkit-transform: translateY(-25%);
              transform: translateY(-25%);
    }
    100% {
      -webkit-transform: translateY(0);
              transform: translateY(0);
    }
  }
  
  @keyframes slide-bottom {
    0% {
      -webkit-transform: translateY(-25%);
              transform: translateY(-25%);
    }
    100% {
      -webkit-transform: translateY(0);
              transform: translateY(0);
    }
  }
  